div{
    display: inline-block;
    height:150px;
    width:150px; 
    background-color: aqua;
    border:1px solid black;
}

.box3{
    position: relative;
    top:100px;
    left: 50px;
}

.box1{
    position:fixed;
}

.box2{
    position: absolute;
    left: 100px;
    top:150px;
}

.box4{
    position:sticky;
    top:0px;
}

.wrapper{
    height:2000px;
    width:100vw;
    background-color: yellow;
}