:root{
    --dark:#3d2109
}

.container{
    border: 1px solid red;
    background-color: yellow;
    height: 300px;
    width: 300px;
    background-color: var(--dark);
}

.box{
    border: 1px solid black;
    background-color: aqua;
    --dark:#3d2109
    color: var(var(--dark));
}
